.App {
  text-align: center;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.body-container {
}

.country-card {
  width: 140px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  border-radius: 5px;
  padding: 5px;
  background-color: rgb(100, 183, 203);
  color: #fff;
  font-weight: bold;
}

.visited {
  background: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
}

.country-card:hover {
  cursor: pointer;
  background-color: rgb(22, 96, 161);
}

.shots {
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.search-input {
  width: 90%;
  height: 50px;
  font-size: 17px;
  padding: 0 20px;
  border-radius: 17px;
  text-align: center;
}

.main-icon {
  margin: 20px 0px;
  color: rgb(22, 96, 161);
}

.cards-container {
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
